body {
  background-color: rgb(50, 51, 51);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Raleway", sans-serif;
}
.ratingsContainer {
  height: 400px;
  width: 400px;
  background-color: rgb(30, 31, 44);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  text-align: left;
  color: white;
}
.rates {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
.rates > button {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: none;
  background-color: rgb(56, 58, 82);
}
.submitBtn {
  height: 40px;
  width: 400px;
  border-radius: 20px;
  background-color: orange;
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: bold;
  border: none;
  letter-spacing: 3px;
}
.rates > button:hover {
  background-color: orange;
  cursor: pointer;
}
.rates > button:active {
  background-color: white;
  cursor: pointer;
}
.submitBtn:hover {
  background-color: white;
  color: orange;
  cursor: pointer;
}
.submitBtn:active {
  background-color: grey;
  color: orange;
  cursor: pointer;
}
@media (max-width: 425px) {
  .rates {
    display: flex;
    justify-content: space-between;
    padding: 25px;
  }
  .submitBtn {
    height: 40px;
    width: 290px;
    border-radius: 20px;
    background-color: orange;
    font-family: "Raleway", sans-serif;
    color: white;
    font-weight: bold;
    border: none;
    letter-spacing: 3px;
  }
  .ratingsContainer {
    height: 400px;
    width: 280px;
    background-color: rgb(30, 31, 44);
    border-radius: 30px;
    display: flex;
    justify-content: center;

    flex-direction: column;
    gap: 10px;
    padding: 20px;
    text-align: left;
    color: white;
  }
}
